<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post_category.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post_category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_category.description %>
</p>

<%= link_to 'Edit', edit_post_category_path(@post_category) %> |
<%= link_to 'Back', post_categories_path %>
